@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* COLORS */
    --black: #000000;
    --white: #ffffff;
    --gray-300: #d6d3d1;
    --gray-200: #e7e5e4;
    --gray-100: #f4f4f0;
    --primary-01: #b286fd;
    --primary-02: #e9dcfe;
    --danger-01: #eb1c26;
    --danger-02: #fcebe9;
    --warning-01: #ffc900;
    --warning-02: #fffae5;
    --success-01: #11a365;
    --success-02: #d2feeb;
    --pale-violet-01: #cb99ff;
    --tomato-01: #ff7051;
    --topaz-01: #ffcb7f;
    --celadon-green-01: #85e0a5;

    /* TYPOGRAPHY */
    --display-2xl-bold: 700 4.5rem/5.5rem "Poppins", sans-serif;
    --display-2xl-semibold: 600 4.5rem/5.5rem "Poppins", sans-serif;
    --display-2xl-medium: 500 4.5rem/5.5rem "Poppins", sans-serif;
    --display-2xl-normal: 400 4.5rem/5.5rem "Poppins", sans-serif;
    --display-xl-bold: 700 3.75rem/4.5rem "Poppins", sans-serif;
    --display-xl-semibold: 600 3.75rem/4.5rem "Poppins", sans-serif;
    --display-xl-medium: 500 3.75rem/4.5rem "Poppins", sans-serif;
    --display-xl-normal: 400 3.75rem/4.5rem "Poppins", sans-serif;
    --display-lg-bold: 700 3rem/3.75rem "Poppins", sans-serif;
    --display-lg-semibold: 600 3rem/3.75rem "Poppins", sans-serif;
    --display-lg-medium: 500 3rem/3.75rem "Poppins", sans-serif;
    --display-lg-normal: 400 3rem/3.75rem "Poppins", sans-serif;
    --display-md-bold: 700 2.25rem/2.75rem "Poppins", sans-serif;
    --display-md-semibold: 600 2.25rem/2.75rem "Poppins", sans-serif;
    --display-md-medium: 500 2.25rem/2.75rem "Poppins", sans-serif;
    --display-md-normal: 400 2.25rem/2.75rem "Poppins", sans-serif;
    --display-sm-bold: 700 1.875rem/3.375rem "Poppins", sans-serif;
    --display-sm-semibold: 600 1.875rem/3.375rem "Poppins", sans-serif;
    --display-sm-medium: 500 1.875rem/3.375rem "Poppins", sans-serif;
    --display-sm-normal: 400 1.875rem/3.375rem "Poppins", sans-serif;
    --display-xs-bold: 700 1.5rem/2rem "Poppins", sans-serif;
    --display-xs-semibold: 600 1.5rem/2rem "Poppins", sans-serif;
    --display-xs-medium: 500 1.5rem/2rem "Poppins", sans-serif;
    --display-xs-normal: 400 1.5rem/2rem "Poppins", sans-serif;
    --text-xl-bold: 700 1.25rem/1.875rem "Poppins", sans-serif;
    --text-xl-semibold: 600 1.25rem/1.875rem "Poppins", sans-serif;
    --text-xl-medium: 500 1.25rem/1.875rem "Poppins", sans-serif;
    --text-xl-normal: 400 1.25rem/1.875rem "Poppins", sans-serif;
    --text-lg-bold: 700 1.125rem/1.75rem "Poppins", sans-serif;
    --text-lg-semibold: 600 1.125rem/1.75rem "Poppins", sans-serif;
    --text-lg-medium: 500 1.125rem/1.75rem "Poppins", sans-serif;
    --text-lg-normal: 400 1.125rem/1.75rem "Poppins", sans-serif;
    --text-md-bold: 700 1rem/1.5rem "Poppins", sans-serif;
    --text-md-semibold: 600 1rem/1.5rem "Poppins", sans-serif;
    --text-md-medium: 500 1rem/1.5rem "Poppins", sans-serif;
    --text-md-normal: 400 1rem/1.5rem "Poppins", sans-serif;
    --text-sm-bold: 700 0.875rem/1.25rem "Poppins", sans-serif;
    --text-sm-semibold: 600 0.875rem/1.25rem "Poppins", sans-serif;
    --text-sm-medium: 500 0.875rem/1.25rem "Poppins", sans-serif;
    --text-sm-normal: 400 0.875rem/1.25rem "Poppins", sans-serif;
    --text-xs-bold: 700 0.75rem/1rem "Poppins", sans-serif;
    --text-xs-semibold: 600 0.75rem/1rem "Poppins", sans-serif;
    --text-xs-medium: 500 0.75rem/1rem "Poppins", sans-serif;
    --text-xs-normal: 400 0.75rem/1rem "Poppins", sans-serif;

    /* BORDER */
    --border: 1px solid var(--black);
    --border-radius: 4px;

    /* BOX-SHADOW */
    --box-shadow: 6px 4px 0px var(--black);

    /* OUTLINE */
    --outline: 3px solid var(--primary-01);
}

/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#root,
#__next {
    isolation: isolate;
}

/* BODY */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-200);
    color: var(--black);
}

/* HEADING, PARAGRAPH, ANCHOR */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
footer {
    text-align: center;
}

h1 {
    font: var(--display-md-bold);
}

a {
    text-decoration: none;
    color: var(--black);
}

/* LAYOUT */
header,
main,
footer {
    width: 100%;
    padding: 1em;
}

main {
    margin-bottom: auto;
}

footer {
    font: var(--text-xs-normal);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 42em;
}

.section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.questions-wrapper,
.question-item,
.trivia-wrapper,
.user-wrapper {
    width: 100%;
}

.questions-wrapper,
.rank-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.question-item,
.rank-item {
    padding: 1em;
    display: grid;
    column-gap: 1em;
    border: 1px solid #000;
}

.question-item {
    grid-template-columns: 0.25fr 2fr 1.25fr 1fr 1fr;
}

.rank-item {
    grid-template-columns: 0.25fr 0.5fr 3fr auto;
    align-items: center;
}

.trivia-wrapper {
    padding: 1em;
}

.trivia-wrapper {
    display: flex;
    flex-direction: column;
}

.question-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-weight: 500;
    font-size: 1.25em;
}

.question-wrapper div {
    min-height: 5em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers-wrapper {
    margin-top: 1em;
}

.answers-wrapper > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answers-wrapper .answer-item {
    min-width: 49%;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.answer-item button {
    min-height: 3em;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.user-wrapper .greeting-wrapper {
    display: grid;
    column-gap: 1em;
    grid-template-columns: 1fr auto;
}

.user-wrapper .rank-wrapper {
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(2, auto);
}

.user-wrapper .rank-wrapper div {
    border: 1px solid #000;
    padding: 1em;
}

.user-wrapper .rank-wrapper div span {
    display: block;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    display: block;
}

nav .back-button {
    width: 2.25rem;
    height: 2.25rem;
    border: var(--border);
    border-radius: 50%;
    background-color: var(--primary-01);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .back-button:hover {
    box-shadow: var(--box-shadow);
}

nav .logo {
    padding: 0.5rem 0;
}

nav .login-button {
    padding: 0.5rem 2.5rem;
    background-color: var(--white);
    border: var(--border);
    border-radius: var(--border-radius);
    font: var(--text-sm-medium);
}

nav .login-button:hover {
    box-shadow: var(--box-shadow);
}

.bottom-navigation {
    position: fixed;
    max-width: 42em;
    bottom: 1rem;
    z-index: 1000;
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.bottom-navigation ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-navigation li {
    flex: 1;
    text-align: center;
}

.bottom-navigation a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    border: none;
    box-shadow: none;
}

.bottom-navigation a:hover {
    background-color: var(--primary-color);
}

.bottom-navigation a i {
    font-size: 20px;
}

.menu {
    margin: 1em 0;
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}

.menu .menu-item {
    min-height: 8em;
    border: 1px solid #000;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON, INPUT, SELECT, LABEL */
button {
    padding: 0 4rem;
    cursor: pointer;
    font: var(--text-sm-medium);
}

button:hover {
    box-shadow: var(--box-shadow);
}

input,
button,
select {
    font: inherit;
    height: 3rem;
    border-radius: var(--border-radius);
    border: var(--border);
}

input,
select {
    padding: 0 1rem;
    width: 100%;
}

input:focus,
select:focus {
    outline: var(--outline);
}

input[type="file"] {
    padding: 0;
}

input[type="file"]::file-selector-button {
    height: 100%;
    border: none;
    font-weight: 600;
}

input:disabled,
form select:disabled {
    background-color: var(--input-disabled-background-color);
    color: var(--text-disabled-color);
}

label {
    font: var(--text-sm-medium);
    justify-self: start;
}

.error-message {
    margin-top: -0.75rem;
    color: var(--danger-01);
    font: var(--text-sm-normal);
}

/* FORM */
form {
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 2rem;
    box-shadow: var(--box-shadow);
}

form .field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth-form {
    margin-top: 10vh;
}

form p {
    font: var(--text-sm-normal);
    text-align: center;
}

form a {
    font: var(--text-sm-medium);
    text-decoration: underline;
}

form > button {
    width: 100%;
    margin-top: 0.5em;
    background-color: var(--primary-01);
}

/* IMAGE, AVATAR */
img,
svg {
    display: block;
    max-width: 100%;
    border: var(--border);
}

#avatar,
.rank-item img,
.greeting-wrapper img {
    border-radius: 50%;
    object-fit: cover;
}

#avatar {
    width: 150px;
    height: 150px;
    margin: auto;
}

.rank-item img,
.greeting-wrapper img {
    width: 50px;
    height: 50px;
}

.trivia-wrapper img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.greeting-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1em;
    width: 80%;
    min-height: 10em;
    max-width: 500px;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content i {
    font-size: 6em;
    padding: 0.5em;
}

.modal-content .fa-check-circle {
    color: green;
}

.modal-content .fa-times-circle {
    color: red;
}

.modal-content p {
    font-weight: 500;
    font-size: 2em;
}

.modal-content div {
    margin: 0 auto;
    display: flex;
    gap: 1.5em;
}

.modal-content div a,
.modal-content div button {
    min-height: 2.5em;
    min-width: 10em;
}
.modal-content div a {
    height: 2em;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content div a:hover {
    box-shadow: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
